In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.neural_network import MLPClassifier

In [43]:
dataset = pd.read_csv('data.csv')
dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [44]:
dataset.drop(columns=['fnlwgt', 'education', 'capital-gain', 'capital-loss'], inplace=True)

In [45]:
dataset.fillna(dataset.mode().iloc[0], inplace=True)
dataset['salary'] = dataset['salary'].apply(lambda x: 1 if x == '>50K' else 0)

In [46]:
features = pd.get_dummies(features, drop_first=True)

In [53]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [54]:
print(dataset.columns)

Index(['age', 'education-num', 'hours-per-week', 'salary',
       'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay',
       'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Not-in-family',
       'relationship_ Other-relative', 'relationship_ Own-child',
       'relationship_ Unmarried', 'relationship_ Wife',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'sex_ Male', 'country_ Cambodia', 'country_ Canada', 'country_ China',
       'country_ Columbia', 'country_ Cuba', 'country_ Dominican-Republic',
       'country_ Ecuador', 'country_ El-Salvador', 'country_ England',
       'country_ France', 'country_ Germany', 'country_ Greece',
       'country_ Guatemala', 'country_ Haiti', 'country_ Holand-Netherlands',
       'country_ Honduras', 'country_ Hong', 'country_ Hungary',
       'country_ India', 'country_ Iran', 'country_ Ireland', 'country_ Italy',
       'country_ Jamaica', 'country_ Japan', 'country_ Laos',
       'country_ Mexico', 'country_ Nicaragua',
       'country_ Outlying-US(Guam-USVI-etc)', 'country_ Peru',
       'country_ Philippines', 'country_ Poland', 'country_ Portugal',
       'country_ Puerto-Rico', 'country_ Scotland', 'country_ South',
       'country_ Taiwan', 'country_ Thailand', 'country_ Trinadad&Tobago',
       'country_ United-States', 'country_ Vietnam', 'country_ Yugoslavia'],
      dtype='object')

In [57]:
features = dataset[['age', 'education-num'] + [col for col in dataset.columns if 'workclass' in col or 'country' in col]]
target = dataset['salary']

In [58]:
numerical_cols = ['capital-gain', 'capital-loss', 'hours-per-week']
missing_cols = [col for col in numerical_cols if col not in features.columns]

In [59]:
if not missing_cols:
    scaler = StandardScaler()
    features[numerical_cols] = scaler.fit_transform(features[numerical_cols])
else:
    print(f"Warning: Missing columns for scaling: {missing_cols}")
    print(f"Skipping scaling for missing columns: {missing_cols}")

Warning: Missing columns for scaling: ['capital-gain', 'capital-loss', 'hours-per-week']
Skipping scaling for missing columns: ['capital-gain', 'capital-loss', 'hours-per-week']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [62]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[['age', 'education-num']] = scaler.fit_transform(X_train[['age', 'education-num']])
X_test[['age', 'education-num']] = scaler.transform(X_test[['age', 'education-num']])

In [65]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

linear_model = LinearRegression()


linear_model.fit(X_train, y_train)


y_pred_linear = linear_model.predict(X_test)


mse = mean_squared_error(y_test, y_pred_linear)
print("Linear Regression Mean Squared Error: ", mse)

Linear Regression Mean Squared Error:  0.0

In [66]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error


neural_network_model = MLPRegressor(hidden_layer_sizes=(100,), max_iter=1000)


neural_network_model.fit(X_train, y_train)


y_pred_nn = neural_network_model.predict(X_test)


mse_nn = mean_squared_error(y_test, y_pred_nn)
print("Neural Network Mean Squared Error: ", mse_nn)

Neural Network Mean Squared Error:  3.183330912743543e-05